ul a {
    color: black;
    font-size: 50px;
}

.pizza {
    font-size: 40px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pbj {
    font-size: 40px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wings {
    color: black;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
}

.title {
    text-align: center;
    color: white;
    background-color: black;
    width: 200px;
    height: 100px;
    margin: auto;
    padding: 20px;
}

.list {
    padding-left: 600px;
}

img {
    width: 33.1%;
}

.img-inline {
    display: inline;
}